<% if logged_in? %>
   <script type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.img1 = "<%=image_url('img1.jpg')%>",
  window.caption1 = "test"
</script>



<script type="text/javascript">
  window.img2= "<%=image_url('img2.jpg')%>",
  window.caption2 = "Photo by Johannes Plenio on Unsplash"
</script>
<script type="text/javascript">
  window.img3= "<%=image_url('img3.jpg')%>",
  window.caption3 = "Photo by Karl Lee on Unsplash"
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id="root">I broke</div>