.nav-bar{
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-family: sans-serif;
    font-size: xx-large;
    color: white;
    padding: 50px, 10px;

}
.message-container{
    display: flexbox;

}

.welcome-message{
    font-family: sans-serif;
    font-size: medium;
    color: white;
    padding: 20px;
}

.buttons{
    padding: 10px;
    size: 10px;
}

.buttons li{
    box-sizing: border-box;
    margin: 20px;
    padding: 30px
}