.nav-bar{
    position: fixed;
    /* background-color: black; */
    background-color: rgba(0,0,0,0.5);
    /* opacity: 0.5; */
    box-sizing: border-box;
    min-height: 9%;
    max-height: 9%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
    
}

.title{
    font-family: sans-serif;
    font-size: xx-large;
    color: white;
    opacity: 1;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none
}

.message-container{
    box-sizing: border-box;
    padding:0 30px;
    text-align: center;
}

.welcome-message{
    font-family: sans-serif;
    font-size: medium;
    color: white;
    padding:5px 0
  
}

.buttons{  
    display: flex;
    align-content: space-between;
    text-align: center;
   
  
}

.buttons >{
    margin: 5px;
    margin-right: 10px;
    padding-top: 5px;
    padding-right: 15px;
}
.login {
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 5px;
    margin-right: 10px;
    padding-top: 5px;
    padding-right: 15px;
     opacity: 1;
}
.signup {
    text-decoration: none;
    margin: 5px;
    margin-right: 20px;
    padding: 5px;
    padding: 5px;
    color: black;
    background-color: white;
    opacity: 1;

}

.logout{
    left: 50%;
    /* transform: translateX(-50%); */
   
}

