.photo{
    max-width: 50px;
    max-height: 60px
}

.photo img{
    max-width: 100%;
    max-height:auto ;
}

.upload-box{
    position: absolute;
    height: 91%;
    min-height: 91%;
    width: 100%;
    background-color:black;
    top: 9%;
    bottom: 20%;
    border-style: solid;
    border-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;

}
.upload-box h1{
    padding: 50px 0;
    font-size: xx-large;
}

.upload-form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

input:first-child{
    /* width: 100px; */
    padding: 10px;
    font-size: large;
}

input:last-child{
    -webkit-appearance: none;
    appearance: none;

}

.upload-form button{
    margin: 20px;
    padding: 10px;
    font-size: large;
}


.photo-list{
    position: absolute;
    min-height: 91%;
    width: 100%;
    background-color: white;
    top: 9%;
    color:black;
    display: inline-grid;
    grid-template-rows: 550px 550px ;
    grid-template-columns: 550px 550px ;
    grid-gap: 60px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.photo-item {
    /* max-height: 500px;
    max-width: 500px; */
    
    
}

.photo-item div {

  
}

.photo-item img {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}