.page-container{
    position: absolute;
    height: 91%;
    min-height: 91%;
    width: 100%;
    top: 9%;

}
.photo-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(39, 39, 41);
    height: 80%;
    width: 100%;

    /* overflow: hidden; */
}

.photo-container img{
    max-height: 90%;
    max-width: 90%;
    width: 90%;
    height: auto;
    object-fit: contain;
}

.photo-title {
    font-size: x-large;
    background-color: rgb(39, 39, 41);
    color: blanchedalmond;
    text-align: center;
    padding: 5px;
}

.author{
    display: block;
    padding: 20px;
}

.elements{
    padding: 30px;
    display: grid;
    grid-template-rows: 550px ;
    grid-template-columns: 550px 550px ;
    grid-gap: 50px;
    justify-content: center;  
}
.comment{
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    height: 15%;
    flex-direction: column;
    justify-content: space-between;
}
.comment:hover{
    background-color: white;
}

.username{
    padding-bottom: 10px;
    color: rgb(34, 36, 185);
    font-size: small;
}
.content{
    font-size: small;
    line-height: 1.6;
}


.tags{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
}

.tag{
    display: block;
    border-radius: 8px;
    box-sizing: border-box;
    background-color:rgb(186, 210, 211);
    padding: 5px;
    margin: 10px;

}

.tag-form{
    box-sizing: border-box;
    height: 50%;
    font-size: large;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.tag-form input{
    width: 30%;
    font-size: medium;
    border-radius: 5px;
    align-self: flex-end;
}

.tag-form button{
    box-sizing: border-box;
    width: 11%;
    font-size: small;
    margin-left: 10px;
    align-self: flex-end;
    margin-top: 15px;
}

.comment-form{
    padding: 20px;
    padding-bottom: 70px;   
    display: flex;
    flex-direction: column;
}



.comment-form textarea{
    display: block;
    box-sizing: border-box;
    padding: 15px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    width: 80%;
    height: 50%;
    font-size: large;
    margin-bottom: 15px;
}
.error-container{
    width: 80%;
    height: 40px;
    margin-bottom: 5px
}
.error-messagesss{
    width: 80%;
    background-color: rgb(233, 210, 210);
    color: rgb(56, 54, 54);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    font-size: small;
}
.tag-error-messages{
    
    width: 34%;
    background-color: rgb(233, 210, 210);
    color: rgb(56, 54, 54);
    box-sizing: border-box;
    padding: 7px;
    margin-top: 15px;
    align-self: flex-end;
    font-size: small;
}

.comment-form button{
    align-self: flex-end;
    margin-right: 20%;
}
